@()

@main("Pomocnik Brokera") {
<div class="container">

    <!-- The justified navigation menu is meant for single line per list item.
         Multiple lines will require custom code not provided by Bootstrap. -->
    <div class="masthead">
        <h3 class="text-muted">Pomocnik Brokera</h3>
        <nav>
            <ul class="nav nav-justified">
                <li><a href='@routes.Application.index()'>Indeks</a></li>
                <li class="active"><a href='@routes.Application.about()'>O programie</a></li>
                <li><a href='@routes.Application.contact()'>Kontakt</a></li>
            </ul>
        </nav>
    </div>

    <!-- Jumbotron -->
    <div class="jumbotron">
        <p class="lead">Aplikacja została stworzona na potrzeby zaliczenia przedmiotu Programowanie w języku Scala.
            Niniejsza instrukcja pokazuje jak korzystać z programu.</p>
        <div align="left">
        <ol>
            <li>Przygotuj plik *.csv, w którym zawarte są informacje na temat spółki, którą chcesz śledzić.
                Plik powinien kolejno zawierać: data (yyyy-mm-dd), godzina (hh:mm), wartość zaamknięcia, maksymalną wartość,
                minimalną wartość, wartość otwarcia.Plik do poprawnego działania programu powinien posiadać jeden rekord na dzień.
             Przykładowe pliki można znaleść w folderze public/sampleFiles.</li>
            <li>Za pomocą przycisku wczytaj znajdującego się na głównej stronie programu wczytaj wcześniej przygotowany plik *.csv.</li>
            <li>Zostaniesz przekierowany na stronę prezentującą wykres świeczkowy dla ostatnich 90 dni.</li>
            <li>Wybierz jeden z dostępnych wskaźników, aby uzyskać więcej informacji na temat zgromadzonych danych.</li>
        </ol>
            </div>
    </div>

    <footer class="footer">
        <p>&copy; RetardTeam 2015</p>
    </footer>

</div> <!-- /container -->

}
