@()

@main("Pomocnik Brokera") {
<div class="container">

    <!-- The justified navigation menu is meant for single line per list item.
         Multiple lines will require custom code not provided by Bootstrap. -->
    <div class="masthead">
        <h3 class="text-muted">Pomocnik Brokera</h3>
        <nav>
            <ul class="nav nav-justified">
                <li><a href='@routes.Application.index()'>Indeks</a></li>
                <li><a href='@routes.Application.about()'>O programie</a></li>
                <li class="active"><a href='@routes.Application.contact()'>Kontakt</a></li>
            </ul>
        </nav>
    </div>

    <!-- Jumbotron -->
    <div class="jumbotron">
        <br><br><br>
        <p class="lead">Paweł Gibki - 201200@@edu.p.lodz.pl</p>
        <p class="lead">Grzegorz Kopeć - 201212@@edu.p.lodz.pl</p>
        <p class="lead">Mateusz Świąć - 201249@@edu.p.lodz.pl</p>
        <br><br><br>
    </div>

    <footer class="footer">
        <p>&copy; RetardTeam 2015</p>
    </footer>

</div>
}
