@()

@import helper._

@main("Pomocnik Brokera") {
<div class="container">
    <div class="masthead">
        <h3 class="text-muted">Pomocnik Brokera</h3>
        <nav>
            <ul class="nav nav-justified">
                <li class="active"><a href='@routes.Application.index()'>Indeks</a></li>
                <li><a href='@routes.Application.about()'>O programie</a></li>
                <li><a href='@routes.Application.contact()'>Kontakt</a></li>
            </ul>
        </nav>
    </div>
    <div class="jumbotron">
        <p class="lead">Pomocnik Brokera to program, który ułatwi Ci granie na giełdzie.
            Aby dowiedzieć się jak go używać kliknij przycisk "O programie".</p>
        @form(action = routes.Application.uploadFile, 'enctype -> "multipart/form-data") {
        <center>
            <div class="btn-group" role="group">
                <input class="btn btn-lg btn-success" type="file" name="fileUpload">
                <input class="btn btn-lg btn-success" type="submit" value="Wczytaj plik">
            </div>
        </center>
        }
    </div>
    <footer class="footer">
        <p>&copy; RetardTeam 2015</p>
    </footer>
</div>
}
