@(chartPath: String, candlesPath: String)

@main("Pomocnik Brokera") {
<div class="container">
    <div class="masthead">
        <h3 class="text-muted">Pomocnik Brokera</h3>
        <nav>
            <ul class="nav nav-justified">
                <li><a href='@routes.Application.index()'>Indeks</a></li>
                <li class="active"><a href='@routes.Application.data()'>Dane</a></li>
                <li><a href='@routes.Application.about()'>O programie</a></li>
                <li><a href='@routes.Application.contact()'>Kontakt</a></li>
            </ul>
        </nav>
    </div>

    <div class="jumbotron">
        <image src="@routes.Assets.versioned(candlesPath)"/>
        <div class="top_margin">
            <image src="@routes.Assets.versioned(chartPath)"/>
        </div>
        <div class="btn-group top_margin" role="group">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <a type="button" class="btn btn-primary" href='@routes.Application.movingAverage()'>Średnia krocząca</a>
                </div>
                <div class="btn-group" role="group">
                    <a type="button" class="btn btn-primary" href='@routes.Application.bearsPower()'>Siła niedźwiedzi</a>
                </div>
                <div class="btn-group" role="group">
                    <a type="button" class="btn btn-primary" href='@routes.Application.bullsPower()'>Siła byków</a>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer">
        <p>&copy; RetardTeam 2015</p>
    </footer>
</div>
}
